<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Create Post</h3>
    <%= form_for(@post) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control', :cols => "15", :rows => "7" %>

      <%= f.submit "Create Post", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>