<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Rbook", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to current_user.friend_requests.length.to_s+" Notifications", notifications_path %></li>
          <li><%= link_to "Find Friends", users_path %></li>
          <li><%= link_to "Posts", posts_path %></li>
          <li><%= link_to "Friends", "/friends" %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li> 
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in/Sign up", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>