<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
      <div class='container'>
        <% if notice %>
          <div class="alert alert-success"><%= notice %></div>
        <% elsif alert %>
          <div class="alert alert-danger"><%= alert %></div>
        <% else %>
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        <% end %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
  </body>
</html>
